.wef {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    border: 3px solid #034078;
    border-radius: 2%;
}

.grafico{
    background-color: #001f54;
    padding: 10px;
    border-radius: 2%;
}

.lista-carreiras {
    margin-bottom: 5%;
}

.lista-carreiras li{
        margin-bottom: 1%;
}    

@media (max-width: 800px) {
    .lista-carreiras li {
        font-size: 4vw;
        margin: 2vw;
    }
}