iframe {
    display: block;
    width: 30%;
    margin: auto;
    margin-top: 160px;
    height: 620px;
    width: 800px;
    border: 6px solid #034078;
}

#qrcode {
    border: 8px solid #034078;
    display: block;
    margin: auto;
}
